@font-face {
    font-family: 'ClickerScript-Regular';
    src: url('../fonts/ClickerScript-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay-Medium';
    src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay-SemiBold';
    src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}