<footer class="footer">
     
            <div class="footer__top">
                <h2 class="footer__top-title">
                    Subscribe to get the Latest News
                </h2>
                <p class="footer__top-text">
                    Don’t miss out on our latest news, updates, tips and special
                    offers
                </p>
                <form class="footer__top-form" action="#" method="post">
 <label for="userEmail" class="visually-hidden">Enter your mail</label>
                    <input class="footer__top-input" type="email" name="userEmail" id="userEmail" placeholder="Enter your mail" required autocomplete="email">
                    <button class="footer__top-button" type="submit">
                         Subscribe 
                    </button>
                </form>
            </div>
            <div class="footer__bottom">
            <div class="container">
                    <div class="footer__elements">
              
                <div class="footer__element">
                    <a href="#" class="logo">
                        <img class="logo__img" src="images/logo.svg" alt="logo">
                    </a>
                    <p class="footer__element-text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                    </p>
                    <ul class="footer__social-list">
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link"
                                aria-label="link to facebook">
                                <svg width="24" height="24">
                                    <use
                                        xlink:href="images/sprite.svg#facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link"
                                aria-label="link to instagram">
                                <svg width="20" height="20">
                                    <use
                                        xlink:href="images/sprite.svg#instagram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link"
                                aria-label="link to youtube">
                                <svg width="24" height="24">
                                    <use xlink:href="images/sprite.svg#youtube">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a href="#" class="footer__social-link"
                                aria-label="link to twitter">
                                <svg width="21" height="17">
                                    <use
                                        xlink:href="images/sprite.svg#twitter">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__element">
                    <h5 class="footer__element-title">
                        About
                    </h5>
                    <ul class="footer__element-list">
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                                Menu
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                               Features
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                               News & Blogs
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                             Help & Supports
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__element">
                    <h5 class="footer__element-title">
                       Company
                    </h5>
                    <ul class="footer__element-list">
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                                How we work
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                              Terms of service
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                               Pricing
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="#">
                            FAQ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__element">
                    <h5 class="footer__element-title">
                      Contact Us
                    </h5>
                    <ul class="footer__element-list">
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="https://maps.app.goo.gl/mARJ3hrAiRnrsYkh6">
                              Akshya Nagar 1st Block 1st Cross,<br>
                               Rammurthy nagar, Bangalore-560016
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="tel:+12029182132">
                             +1 202-918-2132
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="mailto: beanscene@mail.com">
                               beanscene@mail.com
                            </a>
                        </li>
                        <li class="footer__element-item">
                            <a class="footer__element-link" href="  www.beanscene.com">
                            www.beanscene.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
  
</footer>