 <section class="promo">
            <img class="promo__decor" src="images/promo-decorCoffee.svg">
            <img class="promo__decor" src="images/promo-decorCup.svg">
            <div class="container">
                <div class="promo__inner">
                    <h2 class="promo__title">
                        Get a chance to have an
                        Amazing morning
                    </h2>
                    <p class="promo__text">
                        We are giving you are one time opportunity to
                        experience a better life with coffee.
                    </p>
                    <a class="promo__link" href="#">
                        Order Now
                    </a>
                </div>
            </div>
        </section>